Q1 Write a program to convert a given temperature from 0C to 0F. Run the program for given temperature 40C

In [ ]:
# Temperature in celsius degree
celsius = 40

# Converting the temperature to
# fehrenheit using the above
# mentioned formula
fahrenheit = (celsius * 1.8) + 32

# printing the result
print('%.2f Celsius is equivalent to: %.2f Fahrenheit'%(celsius, fahrenheit))# Here %.2f is from dot formating.
#first %.2f will take the value of celsios and second %.2f will take the value of fahrenheit

40.00 Celsius is equivalent to: 104.00 Fahrenheit

40.00 Celsius is equivalent to: 104.00 Fahrenheit

Q2 Write a module to find simple and compound interest. Calculate simple and compound interest for principal amount=10000, interest rate=10% and time=5 years.

In [ ]:
principle=float(input("Enter the principle amount:"))
time=int(input("Enter the time(years):"))
rate=float(input("Enter the rate:"))
Simple_interest=(principle*time*rate)/100
print("The simple interest is:",Simple_interest)

##OR

In [ ]:
P=1000
R=0.01
T=5
Simple_interest=(P*R*T)/100
print("The simple interest is:",Simple_interest)

The simple interest is: 0.5

In [ ]:
p = float(input("Enter the principal amount : "))
 
t = float(input("Enter the number of years : "))
 
r = float(input("Enter the rate of interest : "))
 
#compute compound interest
ci =  p * (pow((1 + r / 100), t)) 
 
#print
print("Compound interest : {}".format(ci))

Enter the principal amount : 1000
Enter the number of years : 5
Enter the rate of interest : 0.01
Compound interest : 1000.5001000100004

##OR

In [ ]:
P=1000
r=0.01
t=5
Compound_interest=P*(pow((1+r/100),t))
print("Compound interest:",Compound_interest)

Compound interest: 1000.5001000100004

Q3 Write a program to check whether given integer m is divisible by integer n or not. Run the program for m=5, n=2 and m=6,n=3.

In [ ]:
def multiple(m, n):
	return True if m % n == 0 else False

print(multiple(5, 2))
print(multiple(6, 3))

Q4 Write a program to check whether given integer is odd or even. Run the program for 20 and 11.

In [ ]:
#Python program to check if the input number is odd or even.
# A number is even if division by 2 gives a remainder of 0.
# If the remainder is 1, it is an odd number.

num = int(input("Enter a number: "))
if (num % 2) == 0:
   print("{0} is Even".format(num))
else:
   print("{0} is Odd".format(num))

##OR

In [ ]:
num=int(input("Enter the number:"))
if(num%2)==0:
  print('num is even')
else:
  print('num is odd')

Enter the number:20
num is even

Q7.Write a program to create and print a new dictionary by concatenating following

In [ ]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}

dic3 = {}
for d in (dic1, dic2): dic3.update(d)
print(dic3)

{1: 10, 2: 20, 3: 30, 4: 40}

Q8 Write a program to generate and print first n=10 Fibonacci numbers

In [ ]:
# Program to display the Fibonacci sequence up to n-th term
#Q7.Write a program to create and print a new dictionary by concatenating following

dic1={1:10, 2:20}
nterms = int(input("How many terms? "))

# first two terms
n1, n2 = 0, 1
count = 0

# check if the number of terms is valid
if nterms <= 0:
   print("Please enter a positive integer")
# if there is only one term, return n1
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
# generate fibonacci sequence
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       # update values
       n1 = n2
       n2 = nth
       count += 1

How many terms? 5
Fibonacci sequence:
0
1
1
2
3

##OR

In [ ]:
dict1={1:10,2:20}
nterms=int(input('how many term?'))
n1,n2=0,1
count=0

if nterms==1:
  print("Fibonic sequence upto",nterms,":")
  print(n1)
else:
  print("Fibonic sequence:")
  while count< nterms:
      print(n1)
      nth=n1+n2
      n1=n2
      n2=nth
      count+=1

how many term?6
Fibonic sequence:
0
1
1
2
3
5

Q9 Write a user defined function to find and print the intersection and union of two sets. Run the function for two sets A={a, b, c, d} and B={b, c, e}.

In [ ]:
def intersection(A, B):
     C=[value for value in A if value in B]
     return C
  

 
# Driver Code
A={"a", "b", "c", "d"}
B={"b", "c", "e"}
print(intersection(A, B))

['b', 'c']

In [ ]:
# Question 10
# (A) The user defined function to obtain sum of first n natural number 


num =int(input("Enter number upto which we want sum "))

i=1
sum=0
while(i<=num):
     sum=sum+i
     i=i+1
print("Sum of first n numbers is",sum)

Enter number upto which we want sum 10
Sum of first n numbers is 55

In [ ]:
##(B) The user defined function to obtain sum of square of first n natural number
num=int(input("Enter number upto which we want sum "))
i=1
sum=0
while(i<=num):
    sum=sum+(i*i)
    i=i+1
print("sum of square of first n natural number is",sum)

In [ ]:
# Question 11
 
# Obtain sum of first n odd numbers

limit=int(input("Enter limit "))
# Here we are add first  10 odd no.s between 1 to 20
i=1
sum=0
while(i<=limit):
     sum=sum+i
     i=i+2
print("Sum of n odd no. is",sum)

Enter limit 20
Sum of n odd no. is 100

##OR

In [ ]:
limit=int(input("Enter limit"))
i=1
sum=0
while(i<=limit):
  sum=sum+i
  i=i+2
print("Sum of n odd no.is",sum)

Enter limit20
Sum of n odd no.is 100

In [ ]:
limit=int(input("Enter limit"))
i=1
sum=0
while(i<=limit):
  sum=sum+(i*i)
  i=i+2
print("Sum of n odd no.is",sum)

Enter limit20
Sum of n odd no.is 1330

In [ ]:
#Quest 13

In [ ]:
# Obtain and print roots of quadratic equation 

import math
a=float(input("a:"))
b=float(input("b:"))
c=float(input("c:"))

delta=math.pow(b,2)-(4*a*c)

if delta > 0:
   x1=(((-b)+math.sqrt(delta))/(2*a))
   x2=(((-b)-math.sqrt(delta))/(2*a))
   print("There are two roots : %f and %f " % (x1,x2))
elif delta == 0:
  x=(-b)/2*a
  print("There is one root:",x)
else:
  print("No Roots, delta < 0")

a:1
b:2
c:-2
There are two roots : 0.732051 and -2.732051

In [ ]:
# Question 14

# Obtain Sum of first n even no. 

n=int(input("How many even no.s you want to add  "))
i=1
sum=0
count=1
while(count<=n):
   if(i%2==0):
     sum=sum+i
     count=count=count+1
   i=i+1
print("Sum of even no.s=", sum)

How many even no.s you want to add  10
Sum of even no.s= 110

In [ ]:
# Question 7

# Find and print sum and sum of square of even numbers in given numbers

# (A) Sum of even numbers in given numbers
a=[20,12,15,1,7,10,5,1,15,5]
even=[]
odd=[]
for i in a:
    if i%2==0:
        even.append(i)
        print ("even=",even)
       
        
    else:
        odd.append(i)
        print ("odd=",odd)

even= [20]
even= [20, 12]
odd= [15]
odd= [15, 1]
odd= [15, 1, 7]
even= [20, 12, 10]
odd= [15, 1, 7, 5]
odd= [15, 1, 7, 5, 1]
odd= [15, 1, 7, 5, 1, 15]
odd= [15, 1, 7, 5, 1, 15, 5]

In [ ]:
print(even)

[20, 12, 10]

In [ ]:
print(odd)

[15, 1, 7, 5, 1, 15, 5]

In [ ]:
even_sum=0
for i in range(0,len(even)):
     even_sum=even_sum+even[i]

print("sum of even numbers is" ,even_sum)

In [ ]:
# (B)
sum_of_sq_even_no=0
for i in range(0,len(even)):
     sum_of_sq_even_no=sum_of_sq_even_no+(even[i]*even[i])
print("Sum of square of even numbers in given no is",sum_of_sq_even_no)

In [ ]:
# Question 8

# solve linear equations simultaneously

import numpy as np
a=np.array([[4,-3],[6,5]])
b=np.array([11,7])
np.linalg.solve(a,b)  ##linear algorithm .solve
# therefore x=2 and y=-1

In [ ]:
#Question 17 length
string="Statistics"
len(string)

10

In [ ]:
#Question 18 for 'Start'
def isPalindrome(s):
    return s == s[::-1]
 
 
# Driver code
s = input("Enter the string:")
ans = isPalindrome(s)
 
if ans:
    print("Yes")
else:
    print("No")

Enter the string:START
No

In [ ]:
def isPalindrome(s):
    return s == s[::-1]
 
 
# Driver code
s = input("Enter the string:")
ans = isPalindrome(s)
 
if ans:
    print("Yes")
else:
    print("No")

Enter the string:MADAM
Yes

In [ ]:
#Question 19
def Convert(string):
    list1=[]
    list1[:0]=string
    return list1


def count_occur(list1,x):
    count = 0
    for ele in list1:
        if (ele == x):
            count = count + 1
    return count

# Driver code
str1="Statistics"
list=Convert(str1)
print(Convert(str1))

for i in range(len(list)):
  
    print('{} has occurred {} times'.format(list[i], count_occur(list, list[i])))

In [ ]:
#Question 20
#  to check character is Alphabet or not for b
ch = input("Please Enter Your Own Character : ")

if((ch >= 'a' and ch <= 'z') or (ch >= 'A' and ch <= 'Z')):
    print("The Given Character ", ch, "is an Alphabet")
else:
    print("The Given Character ", ch, "is Not an Alphabet")

In [ ]:
#Question 20
#Question to check character is Alphabet or not for *
ch = input("Please Enter Your Own Character : ")

if((ch >= 'a' and ch <= 'z') or (ch >= 'A' and ch <= 'Z')):
    print("The Given Character ", ch, "is an Alphabet")
else:
    print("The Given Character ", ch, "is Not an Alphabet")

In [ ]:
#Question 21
list=['Statistics','Stat','Mathematics','Math']
print("The smallest words here are:")
for i in range(len(list)):
    length=len(list[i])
    
    if(len(list[i])<len(list[i-1])):
           print(list[i])

print("The length here is: ")
print(+len(list[i]))

In [ ]:
#Question 22   #a
l = input("Enter the character: ") 
if l.lower() in ('a', 'e', 'i', 'o', 'u'): 
    print("Vowel") 
elif l.upper() in ('A', 'E', 'I', 'O', 'U'):
    print("Vowel") 
else: print("Consonant")

In [ ]:
#Question 22   #f
l = input("Enter the character: ") 
if l.lower() in ('a', 'e', 'i', 'o', 'u'): 
    print("Vowel") 
elif l.upper() in ('A', 'E', 'I', 'O', 'U'):
    print("Vowel") 
else: print("Consonant")

In [ ]:
#Question 22   #man
l = input("Enter the character: ") 
if l.lower() in ('a', 'e', 'i', 'o', 'u'): 
    print("Vowel") 
elif l.upper() in ('A', 'E', 'I', 'O', 'U'):
    print("Vowel") 
else: print("Consonant")

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
#Question 23
x=[2015,2016,2017,2018,2019,2020]
y=[700,1200,900,800,950,1000]
plt.plot(x,y)
plt.xlabel('Year')
plt.ylabel('No.of students')
Text(0, 0.5, 'No.of students')

In [ ]:
#Question 24  #a)
X=[1,2,3,4,5,6]
f=[1,2,2,8,9,1]
plt.bar(X,f)
plt.ylabel("f")
plt.title("X vs f")
plt.show()

In [ ]:
#Question 24 #b)
X=[1,2,3,4,5,6]
f=[4,2,7,0,3,1]
plt.bar(X,f)
plt.ylabel("f")
plt.title("X vs f")
plt.show()

##Quest 25

In [ ]:
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd

In [ ]:
# Creating dataset
Section = ['A','B','C','D','E']
 
No_of_workers = [20,36,16,5,49]
 
# Creating plot
fig = plt.figure(figsize =(10, 7))
plt.pie(No_of_workers, labels =Section)

labels=['A','B','C','C','D']
plt.legend(labels)
plt.title('Total workers per section')

In [ ]:
Subject = ['Chemistry','Electronics','Mathematics','Physics','Statistics']
 
NO_of_students = [23.17,13.51,17.37,18.92,27.03]
 
# Creating plot
fig = plt.figure(figsize =(12, 7))
plt.pie(NO_of_students, labels = Section)

labels=['Chemistry','Electronics','Mathematics','Physics','Statistics']
plt.legend(labels)
plt.title('Total students per class')

##Quest 26

In [ ]:
Year=['2017-18','2018-19','2019-20']
Arts=[750,725,850]
Commerce=[1450,1625,1750]

plt.bar(Year,Arts,color='yellow')
plt.bar(Year,Commerce,bottom=Arts,color='b')


plt.legend(['Arts','Commerce'])
plt.title("Subdivided Bar diagram")
plt.show()

##Quest 27

In [ ]:
Year=['2016','2017','2018','2019','2020']
Turnover=[6.5,6.7,6.9,7,8]
Profit=[1.2,1.7,1.8,1.9,2]

  
X_axis = np.arange(len(Year))
  
plt.bar(X_axis - 0.2, Turnover, 0.4, label = 'Turnover')
plt.bar(X_axis + 0.2, Profit, 0.4, label = 'Profits')
  
plt.xticks(X_axis, Year)
plt.xlabel("Year")
plt.ylabel("Sales in Lakhs")
plt.title("Turnover by year")
plt.legend()

##Quest 29

In [ ]:
data=(15,17,29,37,5,12,45,16,29,32,18,22,24,7,13) 
fig = plt.figure(figsize =(10, 7))
 
# Creating plot
plt.boxplot(data)

In [ ]:
x = list(np.random.exponential(size=200))
x
plt.hist(x)

##quest 30

In [ ]:
x=[2,5,7,8,9,11,13]
y=[8,13,18,20,21,25,30]
plt.scatter(x,y)

Interpretation
x and Y shows a positive correletion

##Quest 31

In [ ]:
x=np.random.uniform(0,1,size=60)
y=-0.8*x

plt.scatter(x,y)

Interpretation
The the random variable X and Y are both negatively correlited with each other.

##Quest 32

In [ ]:
x=np.random.normal(10,5,size=50)
y=2+0.5*x
plt.scatter(x,y)

Interpretation
The normal variate x and y are positively correleted.