In [ ]:
#Print the tenth element of the string 
Name="Michael Jackson"
print(Name[10])  ## here this count space also and index is starting from 0

c

In [ ]:
print(Name[0])

M

In [ ]:
print(Name[-1])

n

In [ ]:
print("Demo for learning git")

Demo for learning git

In [ ]:
print(10 > 9) 
print(10 == 9) 
print(10 < 9)

True
False
False

In [ ]:
print(bool("Hello")) 
print(bool())

True
False

In [ ]:
x = "Hello" 
y = 15 
print(bool(x))
print(bool(y))

True
True

In [ ]:
print(bool(False)) 
print(bool(None))
print(bool(0)) 
print(bool("")) 
print(bool(())) 
print(bool([])) 
print(bool({}))

False
False
False
False
False
False
False

In [ ]:
x,y = 15, 9 
print(x==y) 
print(x!=y) 
print(x>y) 
print(x<y)
print(x>=y) 
print(x<=y)

False
True
True
False
True
False

In [ ]:
x=8 
print(x < 5 and x < 10) 
print(x < 5 or x < 10)
print(not(x>10))
print(not(x < 5 and x < 10))

False
True
True
True

In [ ]:
x, y = 2,10 
print(x is y) 
print(x is not y)

False
True

In [ ]:
x, y = 'Hi', "Hi" 
print(x is y) 
print(x is not y)

True
False

In [ ]:
x="Have a good day!"
x

'Have a good day!'

In [ ]:
a = "is not in Pune" 
print('Pune' in a)

True

In [ ]:
a="I Like Python" 
print(a[-11:-7]) 
print(a[2:6])

Like
Like