In [4]:
name = ("a","b","c","d","e")
a=input()
if a in name:
    print("is in name")
else:
    print("not in name")

p
not in name

In [5]:
a=10
b=20
c=30
d=40
if a>b:
    print("b is not less than a")
else:
    print("a is not less than b")
if a<c:
    print("a is less than c")
else:
    ("a is not greater than c")
if a<d:
    print("a is not greater than d")
else:
    print("a is greater thAN d")

a is not less than b
a is less than c
a is not greater than d

In [6]:
science_marks=90
commarks=60
artsmarks=40

In [7]:
marks=["90","80","70"]
Marks=input()
if marks==90:
    print("We will take science")
elif marks==70:
    print("we will take commerce")
else:
    print("we will take arts")

50
we will take arts

In [8]:
num=-100
if num>=0:
    if num==0:
        print("zero")
    else:
        print("positive number is nested")
else:
    print("negative number")

negative number

In [9]:
b=int(input())
if b==1:
    if b>10:
        print("b is a 2 digit number")
    else:
        print("b is single digit odd number")
else:
    print("even")

38
even